<style>
ul.a, li.a {
list-style: none;
padding: 0;
}

table.a {
    border: none;
    background: inherit;
    margin-bottom: 0;
}

td.a {
    border: none;
    background: inherit;
    background: #343a40;
    color: #fff;
    font-family: sans-serif;
    line-height: 1.5;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0.5em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-right: 0.5em;
}

span.designation {
    font-size: 1.3rem;
}

a.company {
    font-size: 1.05rem;
    color: #1665c0;
    text-decoration: none;
    }

a.company:visited {
    text-decoration: none;
}

a.company:hover {
    text-decoration: underline;
}

a.company:active {
    text-decoration: underline;
}


span.date {
    font-size: 0.8rem;
    font-style: italic;
    margin-bottom: 0.2em;
}

p.desc {
    font-size: 0.8rem;
    margin-bottom: 0;
}


.sessions {
    margin-top: 2rem;
    border-radius: 2px;
    position: relative;
    }
li.a {
    padding-bottom: 0rem;
    border-left: 1px solid #1665c0;
    position: relative;
    padding-left: 20px;
    padding-bottom: 10px;
    margin-left: 15px;
    margin-bottom: 0;
    }
li.a:last-child {
    border: 0px;
    padding-bottom: 0;
    }
li.a:before {
    content: '';
    width: 15px;
    height: 15px;
    background: white;
    border-radius: 50%;
    position: absolute;
    left: -8px;
    top: 0px;
    }

    html {
    scrollbar-face-color: #646464;
    scrollbar-base-color: #646464;
    scrollbar-3dlight-color: #646464;
    scrollbar-highlight-color: #646464;
    scrollbar-track-color: #000;
    scrollbar-arrow-color: #000;
    scrollbar-shadow-color: #646464;
}

::-webkit-scrollbar { width: 8px; height: 3px;}
::-webkit-scrollbar-button {  background-color: #666; }
::-webkit-scrollbar-track {  background-color: #000;}
::-webkit-scrollbar-track-piece { background-color: #2a2b3a;}
::-webkit-scrollbar-thumb { height: 50px; background-color: #666; border-radius: 3px;}
::-webkit-scrollbar-corner { background-color: #646464;}
::-webkit-resizer { background-color: #666;}
</style>