<!-- start custom footer snippets -->
<div class="footer-dark">
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-sm-4 col-md-4 item text">
                    <h1>Affiliations</h1>
                    <div class="clearfix">
                        <div class="img-container">
                        <img src="/images/Adobe.png" alt="Adobe" style="width:100%">
                        </div>
                        <div class="img-container">
                        <img src="/images/BITS.png" alt="BITS Pilani" style="width:100%">
                        </div>
                      </div>
                      <br>
                </div>
                <div class="col-sm-8 col-md-8 item text">
                  <h1>My favorite quotes</h1>
                  <p id="quote"></p>
              </div>
            </div>
        </div>
    </footer>
</div>
<script>
  const quotes = [
    "“The best way to predict the future is to invent it.” - Alan Kay",
    "कर्मण्येवाधिकारस्ते मा फलेषु कदाचन |<br>मा कर्मफलहेतुर्भूर्मा ते सङ्गोऽस्त्वकर्मणि ||<br>You have a right to perform your prescribed duties, but you are not entitled to the fruits of your actions. Never consider yourself to be the cause of the results of your activities, nor be attached to inaction. - Bhagavad Gita 2.47",
    "“When you hit your lowest point you are open to the greatest change.” - Avatar Aang",
    "“If we knew what it was we were doing, it would not be called research, would it?” - Albert Einstein"
];
function displayRandomQuote() {
    const randomIndex = Math.floor(Math.random() * quotes.length);
    const randomQuote = quotes[randomIndex];
    const quoteElement = document.getElementById("quote");
    quoteElement.innerHTML = randomQuote;
}
window.addEventListener("load", displayRandomQuote);
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>
<!-- end custom footer snippets -->