---
layout: compress
---

{% include base_path %}

<!doctype html>
<html lang="{{ site.locale | slice: 0,2 }}" class="no-js">
  <head>
    {% include head.html %}
    {% include head/custom.html %}
    <style>
    * {
      box-sizing: border-box;
    }
    
    .img-container {
      float: left;
      width: 25%;
      padding: 1px;
    }
    
    .clearfix::after {
      content: "";
      clear: both;
      display: table;
    }
  </style>
  </head>

  <body>
    {% include browser-upgrade.html %}
    {% include masthead.html %}

    {{ content }}

    {% include scripts.html %}

  </body>
</html>
